.top__logo
  .top__logo--box
    = link_to root_path do
      T-Music Offer
.top__set
  .top__set__list
    - if user_signed_in?
      .top__set__list--user
        = link_to current_user.nickname, current_user, class: "user_status"
      .top__set__list--group
        = link_to "グループ追加・グループ詳細", new_group_path, class: "group_show"
      .top__set__list--find
        提供企業を探す
    - else 
      .top__set__list--user
        = link_to "新規ユーザー登録", new_user_registration_path, class: "user_status"
      .top__set__list--group
        = link_to "ログイン", new_user_session_path, class: "group_show"
