.group__edit
  .group__edit--top
    = render "/share/top_bar"
  .group__edit--sidelist
    = render "/share/sidelist"

  .group__edit--title
    グループ編集
  .group__edit__box
    = form_with model: @group, class: "group__edit__box--form", local: true do |f|
      = f.hidden_field "group[user_ids][]", value: current_user.id
      .group__edit__box__list
        .group__edit__box__list__image
          .group__edit__box__list__image--inner
            %label
              %img#preview
                = f.file_field :image, class: "hidden", style: "display: none;"
                .arrow-left
                  = fa_icon "chevron-left", class: "arrow-left__icon"
                = image_tag "#{@group.image}"
        .group__edit__box__list__name
          グループ名:
          .group__edit__box__list__name--inner
            = f.text_field :group_name
        .group__edit__box__list__menmber
        
          .addmember__field
            .addmember__field--left
              %label.addmember__label{for: "addmember__plus"} メンバーを追加
            .addmember__field--right
              .addmember__search
                %input#user-search-field.addmember__input{placeholder: "メンバー検索", type: "text"}
              #user-search-result
          .addmember__field
            .addmember__field--left
              %label.addmember__label{for: "addmember__list"} メンバー：
            .addmember__field--right
              #addmember__groups.js-add-user
                .addmember__group.js-group-member
                  %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
                  %p.addmember__group--users= current_user.nickname
              - @group.users.each do |user|
                - if current_user.nickname != user.nickname
                  .addmember__group.js-group-member
                    %input{name: "group[user_ids][]", type: "hidden", value: user.id}
                    %p.addmember__group--users
                      = user.nickname
                    %a.user-search-remove.addmember__btn.addmember__btn--remove.js-remove-btn
                      削除

        .group__edit__box__list__active--area
          主な活動地域:
          .group__edit__box__list__active--area--inner
            = f.collection_select :area_id, Area.all, :id, :name
        .group__edit__box__list__homepage
          ホームページ:
          .group__edit__box__list__homepage--inner
            = f.text_field :homepage_url, class: "group__edit__homepage"
        .group__edit__box__list__since
          Since
          .group__edit__box__list__since--inner
            = f.collection_select :year_id, Year.all, :id, :name
        .group__edit__box__list__submit
          = f.submit "グループ編集", class: "group__edit__submit"
          
  .back
    = link_to "BACK", group_path, class: "back"

  .footer
    = render "/share/footer"