.user__new
  .user__new__top
    = render "/share/top_bar"
  .user__new__sidelist
    = render "/share/sidelist"

  .user__new__main
    = form_with model: @user, url: user_session_path, class: "user__new__form", local: true do |f|
      .user__new__main__list
        .user__new__main__list__login
          ログイン
        .user__new__main__list__email
          メールアドレス：
          .user__new__main__list__email--inner
            = f.text_field :email, class: "user__email", placeholder: "メールアドレス"
        .user__new__main__list__password
          パスワード：
          .user__new__main__list__password--inner
            = f.text_field :password, type: "password", class: "user__password", placeholder: "7~20文字のパスワード"
        .user__new__main__list__submit
          = f.submit "登録", class: "user__submit"
        .cancel
          = link_to "キャンセル", root_path, class: "cancel_btn"

.footer
  = render "/share/footer"