.new__music
  .new__music--top
    = render "/share/top_bar"
  .new__music--sidebar
    = render "/share/sidelist"
    
  .new__music__title
    新楽曲登録
  .new__music__format
    = form_with model: @group, url: group_musics_path, class: "music__new__form", local: true do |f|
      .new__music__format__main
        = f.fields_for :musics do |music|
          .new__music__format__main__image
            楽曲イメージ：
            .new__music__format__main__image--inner
              = music.label :image, for: "upload_image" do
                %img#preview
                  = music.file_field :image, class: "music__image", id: "upload_image"
          .new__music__format__main__title
            楽曲名：
            .new__music__format__main__title--inner
              = music.text_field :title, class: "music__title"
          .new__music__format__main__genre
            音楽ジャンル：
            .new__music__format__main__genre--inner
              = f.collection_select :genre, Genre.all, :id, :name
          .new__music__format__main__mp3url
            楽興URL：
            .new__music__format__main__mp3url--inner
              = music.file_field :file, class: "music__file"
          .new__music__format__main__introduce
            楽曲の紹介：
            .new__music__format__main__introduce--inner
              = music.text_area :text, class: "music__introduce"
          .new__music__format__main__submit
            = music.submit "新楽曲を登録する", class: "music__submit"
            = link_to "BACK", :back, class: "back"

.footer
  = render "/share/footer"